<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="camera-area rotate">
        <div class="buttons-area">
            <div>
                <div class="row" id="button_row">
                    <div class="coloumn">
                    </div>
                    <div class="coloumn">
                    </div>
                </div>
            </div>
            <!--CAMERAS GRID-->
            <input type="text" id="path" placeholder="put movie path"/>
            <input type="submit" onclick="play();" value="Play on"/>
            <div id="show"></div>
        </div>
        <!--CAMERA SCRIPT-->
    </div>

    <script src="../javascript/cameras.js"></script>
</body>
</html>